@model PrimerParcial.Models.Recipe
@{
    ViewData["Title"] = "Create";
}

<h1>Create Recipe</h1>
<hr />

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Title" class="form-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Description" class="form-label"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PreparationTimeMinutes" class="form-label"></label>
        <input asp-for="PreparationTimeMinutes" type="number" class="form-control" />
        <span asp-validation-for="PreparationTimeMinutes" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Servings" class="form-label"></label>
        <input asp-for="Servings" type="number" class="form-control" />
        <span asp-validation-for="Servings" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Instructions" class="form-label"></label>
        <textarea asp-for="Instructions" class="form-control"></textarea>
        <span asp-validation-for="Instructions" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
